#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contact-icons a img {
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
